<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body>
    {% include "header.html" %}
    <div class="authentication-content">
        <h1 class="authentication-title">{{ title }}</h1>
        <div class="authentication-form-container">
            <form method="POST" action="{{ handler_url }}">
                {{ form.csrf_token }}
                <div class="authentication-form-items">
                    {{ form.username }}
                    {{ form.password }}
                    {% if form.username.errors or username_error_message is not none %}
                        {% if username_error_message is not none %}
                            <div class="authentication-error-message">{{ username_error_message }}</div>
                        {% endif %}
                    {% endif %}
                    {% if form.password.errors or password_error_message is not none %}
                        {% if password_error_message is not none %}
                            <div class="authentication-error-message">{{ password_error_message }}</div>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <div class="authentication-error-message">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {{ form.submit }}
                </div>
            </form>
        </div>
        {% if title == "Login" %}
            <b>Don't have an account? </b><a href="{{ url_for('authentication_bp.register') }}">Register</a>
        {% else %}
            <b>Already have an account? </b><a href="{{ url_for('authentication_bp.login') }}">Login</a>
        {% endif %}
    </div>
</body>
</html>